// fonts
$font-title: "Reggae One", system-ui;
$font-body: "Onest", sans-serif;

// colors fondo //
$color-bg: #001A6E;


//colores fuentes//
$color-title: #009990;
$color-subtitle: #E1FFBB;

//color secundario//
$color-secondary: #074799;
