@use '../core/variables' as vars;

.page__footer {
    padding-left: 5%;
    color: vars.$color-secondary;
}

.footer__servicios{
    width: 70%;
}

.logo__footer{
    padding:20px;
    display:flex;
    gap:20px;
}

.logo__icons{
    margin-left: 15%;
    margin-bottom:5%;
    padding-bottom:10%;
}

i {
    display: inline-block;
    font-size: 20px;
    margin-right:15px;
}