@use '../core/variables' as vars;


.page__footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 1rem;
    color: vars.$color-secondary;
}

.logo__footer{
    padding:20px;
    display:flex;
    gap:20px;
}

.logo__icons{
    margin-left: 15%;
    margin-bottom:5%;
}

i {
    display: inline-block;
    font-size: 20px;
    margin-right:15px;
}