@use '../core/variables' as vars;

.page__footer {
    padding-inline: 5%;
    margin-top: 10%;
    color: vars.$color-secondary;
    display:flex;
    flex-direction: column;
}

.pre__footer{
    display: flex;
    flex-direction: column;
}
.footer__info{
    text-align: center;
    margin-top: 8%;
}
.footer__info h2{
    font-size: 45px;
    padding: 2rem;
    line-height: 1.2em;
}
.footer__info h4{
    font-size: 20px;
}

.footer__info p{
    font-size: 15px;
} 

.footer__servicios{
    text-align:left;
    padding-left: 5%;
    padding-right: 20%;
}
.footer__img img{
    width: 70%;
    height: auto;
    padding-left:1.5rem;
    margin-block:2rem;
}
.mejores__servicios img{
    height: 100px;
    width: 100px;
    margin-top: 20px;
}




/*footer abajo*/

.logo__footer{
    padding:20px;
    display:flex;
    gap:20px;
    margin-top: 10%;
}

.logo__icons{
    margin-left: 15%;
    padding-bottom:2%;
}

i {
    display: inline-block;
    font-size: 20px;
    margin-right:15px;
}
.nav__footer{
    display:none;
}

@media all and (min-width: 1200px){
    .page__footer{
        margin-top: 0;
    }
    .pre__footer{
        display:flex;
        flex-direction: row-reverse;
        margin-top: 10%;
    }

    .footer__img img{
        width: 90%;
        height: auto;
        margin-left: 0;
        margin-top: -15px;
        margin-bottom: 5%;
    }
    
    .footer__info{
        width: 60%;
        text-align: left;
    }

    .footer__servicios {
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;

    }

    .logo__icons{
        margin-left: 5%;
        margin-bottom:0;
        padding-bottom:0;
    }
    
    .nav__footer{
        display: flex;
        flex-direction: column;
        text-align: end;   
        margin-top: -10%;
        margin-right: 3%;  
    }
    .nav__footer a {
        list-style: none;
        text-decoration: none;
        color:vars.$color-title;
        font-family:vars.$font-title;
        line-height: 3em;
    }
    .nav__footer a:hover{
        color:vars.$color-subtitle;
    }

}