@use '../core/variables' as vars;

/* body {
    padding: 2rem;
    height: 100vh;
    background-image: url('../images/bg-adalab.png');
    background-color: vars.$color-bg;
    font-family: vars.$font-main;
} */


.form{
 background-color:vars.$color-subtitle ;
 

    &__inputs {
        /* display: flex;
        flex-direction: column;
        background-color: red($color: #000000); */

        display: grid;
        grid-template-columns: 80%;
        justify-content: space-between;


        
    }

}