
.header_section{
  display: flex ;
  gap: 20px;
  padding: 15px;
  padding-top: 30px ;
}
.header_div{
  display: grid;
  position: absolute;
  right: 4vw;
  top: 43px;
}

.header_nav{
  display: none;
}