<main class="main">
    <section class="main__section">
      <h3 class="main__section-subtitle">TOP DESTINOS</h3>
      <article class="main__section-article">
        <img class="main__section-img" src="/images/descubre Bali (2).png" alt="imagen templo">
        <p class="main__section-p">Bali: cultura y paraiso en una unica  isla.  Desde 1200€  </p>
        <img class="main__section-img" src="/images/filipinas.png" alt="imagen mar">
        <p class="main__section-p" >Vive Filipinas: cultura,playas y aventura.Desde 999€.</p>
        <img class="main__section-img"  src="/images/tailandia.png" alt="imagen mar">
        <p class="main__section-p" >Tailandia: explora templos, selvas y playas.Desde 800€.</p>
      </article>
    </section>
</main>
