<main class="main">
    <section>
      <h2>TOP DESTINOS</h2>
      <article>
        <img src="/images/descubre Bali (2).png" alt="imagen templo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
        <img src="/images/filipinas.png" alt="imagen mar">
        <p>Lorem ipsum dolor sit amet consectetur adipintem vetibus?</p>
        <img src="/images/tailandia.png" alt="imagen mar">
        <p>Lorem ipsum dolordoloremus quod error. Ndita um.</p>
      </article>
    </section>
</main>
