<footer class="page__footer">
 
 <section class="pre__footer">
  
  <article class="footer__img">
  <img src="./images/composicion1.png">
  </article>
 
 <article class="footer__info">
  <h2>Mejores servicios</h2>
  <div class="footer__servicios">
    <h4>Lorem</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni quaerat</p>

    <h4>Lorem</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni quaerat </p>

    <h4>Lorem</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam magni quaerat</p>
  </div>
  </article>
 </section>
 
<section class="footer2">
  <div class="logo__footer">
    <img src="./images/logotipo.png">
    <h3>Ada Travel</h3>
  </div>
  <div class="logo__icons">
    <i class="fa-brands fa-facebook-f" style="color: #63E6BE;"></i>
    <i class="fa-brands fa-twitter" style="color: #63E6BE;"></i>
    <i class="fa-brands fa-instagram" style="color: #63E6BE;"></i>
  </div>
 </section>
</footer>
