<footer class="page__footer">
 
 <section class="pre__footer">
  
  <article class="footer__img">
  <img src="./images/composicion1.png">
  </article>
 
 <article class="footer__info">
  <h2>Mejores servicios</h2>
  <div class="footer__servicios">

    <div class="mejores__servicios">
    <img  src="./images/camara.png">
    <h4>Paisajes</h4>
    <p>Descubre los rincones más impresionantes del planeta. Desde montañas majestuosas hasta playas paradisíacas, te llevamos a vivir experiencias únicas rodeado de naturaleza en su máxima expresión.</p></div>

    <div class="mejores__servicios">
    <img src="./images/maleta.png">
    <h4>Alojamientos</h4>
    <p>Encuentra el lugar perfecto para descansar. Ofrecemos desde acogedoras cabañas hasta hoteles de lujo, cuidadosamente seleccionados para garantizar tu comodidad y tranquilidad en cada destino.</p></div>

    <div class="mejores__servicios">
    <img src="./images/coche.png">
    <h4>Transporte</h4>
    <p>Viaja sin preocupaciones. Contamos con opciones de transporte seguras y cómodas para que solo te enfoques en disfrutar. Traslados, alquileres y más, todo a tu medida.</p></div>

  </div>
  </article>
 </section>
 
<section class="footer2">
  <div class="logo__footer">
    <img src="./images/logo-color.png">
    <h3>Ada Travel</h3>
  </div>
  <div class="logo__icons">
    <i class="fa-brands fa-facebook-f" style="color: #63E6BE;"></i>
    <i class="fa-brands fa-twitter" style="color: #63E6BE;"></i>
    <i class="fa-brands fa-instagram" style="color: #63E6BE;"></i>
  </div>
  <nav class="nav__footer">
    <ul>
      <li>Home</li>
      <li>Nosotros</li>
      <li>Contacto</li>
    </ul>
  </nav>
 </section>
</footer>
