<header class="page__header">
  <section class="header_section">
    <img class="header_logo" src="/images/logo-color.png" alt="logotipo">
    <h2 class="header_h2">Ada Travel</h2>
  </section>
  <div class="header_div">

    <details>
    <summary><img class="header_img" src="/images/menu-color.png" alt="Hamburguesa"></a></summary>
    <div class="header_menu">
      <a href="index.html" target="_blank">Home</a>
      <a href="https://adalab.es" target="_blank">Precios especiales</a>
      <a href="form.html" target="_blank">Contáctanos</a>
    </div>
    </details>
  </div>


    <img class="header_img1" src="/images/foto-tailandia.png" alt="foto-tailandia"> 
    <h1 class="header_h1">Travel <span class="header_span">top destination</span> of the world</h1>
  
  </section>
  <div class="header_div2"><button class="header_boton"><a class="header_link" href="https://adalab.es/" target="_blank">Get started</a></button></div> -->
  

</header>
