<header class="page__header">
  <section class="header_section">
    <img src="../images/logotipo.png" alt="logotipo">
    <h2>Ada Travel</h2>
  </section>
  <div>

  </div>
  <div class="header_div">
    <a href="https://adalab.es/" target="_blank"> <img class="header_img" src="../images/menu.png" alt="Hamburguesa"></a>
  </div>
  <section>
    <nav class="header_nav">
      <ul class="header_ul">
        <li class="header_li"><a class="color_links3" href="https://adalab.es/" target="_blank">Home</a></li>
        <li class="header_li"><a class="color_links3" href="https://adalab.es/" target="_blank">Precios especiales</a></li>
        <li class="header_li"><a class="color_links3" href="https://adalab.es/" target="_blank">Contactanos</a></li>
      </ul>
    </nav>
  </section>
  
</header>
