<header class="page__header">
  <section class="header_section">
    <img src="../images/logotipo.png" alt="logotipo">
    <h2>Ada Travel</h2>
  </section>
  <div class="header_div">
    <img class="header_img" src="../images/menu.png" alt="Hamburguesa"></a>
    <div class="header_menu">
      <a href="index.html" target="_blank">Home</a>
      <a href="https://adalab.es" target="_blank">Precios especiales</a>
      <a href="form.html" target="_blank">Contáctanos</a>
  </div>
  </div>
  <section>
    <nav class="header_nav">
      <ul class="header_ul">
        <li><a class="header_li" href="index.html" target="_blank">Home</a></li>
        <li><a class="header_li" href="https://adalab.es/" target="_blank">Precios especiales</a></li>
        <li><a class="header_li" href="form.html" target="_blank">Contáctanos</a></li>
      </ul>
    </nav>
  </section>
  <section class="header_section1">
    <img class="header_img1" src="../images/foto-tailandia.png" alt="foto-tailandia">
    <h1 class="header_h2">Travel <span class="header_span">top destination</span> of the world</h1>
  
  </section>
  <div class="header_div2"><button class="header_boton"><a href="https://adalab.es/" target="_blank">Get started</a></button></div>
  

</header>
